# Database connection URL (used by your app to connect to Postgres)
DATABASE_URL=postgresql://admin:secret@postgres-db:5432/myappdb
SECRET_KEY=your_super_secret_key_please_change_me
ACCESS_TOKEN_EXPIRE_MINUTES=30
ALGORITHM=HS256

# To generate a good secret key:
# python -c 'import secrets; print(secrets.token_hex(32))'

# Azure OpenAI Configuration
AZURE_ENDPOINT=your-azure-endpoint # e.g., https://your-resource-name.openai.azure.com/
AZURE_API_KEY=your-azure-api-key
AZURE_API_VERSION=2023-05-15
AZURE_DEPLOYMENT=your-azure-deployment-name # e.g., gpt-4o-3
